#wrapper {
  background-color: #000;
}
.nav-item span {
  font-size: 1rem;
}

ul span {
  color: #fff;
}

#content {
  background-color: #f7f7f7;
}

.ativado {
  color: #000;
  background: linear-gradient(#ff7e49, #f14600);
  font-weight: 600;
}

.ativado span {
  font-weight: 700;
}

.btn-sair {
  padding-top: 100px;
}

li a:hover {
  background: linear-gradient(#ff7e49, #f14600);
  font-weight: 600;
}

.sair {
  position: absolute;
  bottom: 0;
}