<div id="wrapper">
  <ul
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
  >
    <!-- Sidebar - Brand -->
    <a
      class="sidebar-brand d-flex align-items-center justify-content-center"
      routerLink="/"
    >
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Radar</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" routerLink="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Home</span></a
      >
    </li>

    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Menu</div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Clientes</span></a
      >
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" routerLink="cadastrar-produtos">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Produtos</span></a
      >
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Pedidos</span></a
      >
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Relatório</span></a
      >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
