@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

div {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#f14600, #ff7e49);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h1 {
  font-family: 'Rubik Dirt', cursive;
  font-size: 5rem;
}

p {
  font-size: 2rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 25px;
}