<div class="m-3">
  <h1 class="mb-3">Fluxo de Caixa</h1>

  <div>
    <div class="align-middle">
      <table class="table text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Dia</th>
            <th scope="col">Receita</th>
            <th scope="col">Despesa</th>
            <th scope="col">Resultado Esperado</th>
            <th scope="col">Resultado Alcançado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="" scope="row d-column">01/12/2022</th>
            <td class="align-middle">R$ 1000.00</td>
            <td class="align-middle">R$ 2500.00</td>
            <td class="align-middle">R$ 11000.00</td>
            <td class="align-middle">R$ 7500.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>