<div class="m-3">
  <h1 class="mb-3">Fluxo de Caixa</h1>
  <h2 class="text-center m-3">JANEIRO</h2>

  <div>
    <div class="align-middle">
      <table class="table text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Dia</th>
            <th scope="col">Receita</th>
            <th scope="col">Despesa</th>
            <th scope="col">Resultado Esperado</th>
            <th scope="col">Resultado Alcançado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fluxoDia of FLUXO_DE_CAIXA_MENSAL">
            <th class="" scope="row d-column">{{fluxoDia.dia}}</th>
            <td class="align-middle">R$ {{fluxoDia.receita}}</td>
            <td class="align-middle">R$ {{fluxoDia.despesa}}</td>
            <td class="align-middle">R$ {{fluxoDia.resultadoEsperado}}</td>
            <td class="align-middle">R$ {{fluxoDia.resultadoReal}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>