* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  text-align: center;
  background: linear-gradient(#ff7e49, #f14600);
}

#container-bg {
  width: 60vw;
  height: 100vh;
  background-color: #000;
  display: flex;
}

img {
  margin: auto;
}

#container-login {
  width: 40vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
}

.form-signin {
  width: 100%;
  margin: auto;
}

.erro-login{
  color: #fff;
}

form {
  width: 100%;
  padding: 72px 40px;
  margin-top: 150px;
}

form > div {
  margin:  20px;
}

input {
  outline: none;
  border: none;
}

.input-form {
  font-size: 20px;
  line-height: 1.5;
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 0 5px 5px 0;
  padding: 0 0 0 15px;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 8px;
}

span {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.input {
  display: flex;
  min-width: 80%;
  align-items: center;
}

.icon {
  background-color: #000;
  background-size: 0px;
  border-radius: 5px 0 0 5px;
}

.input-container {
  display: flex;
  align-items: center;
}

.erro-login {
  font-weight: 600;
  font-size: 20px;
}

.btn-entrar {
  background: linear-gradient(#19EA19, #0AD10A);
  font-size: 1.5rem;
  padding: 12px 15px;
  font-weight: 600;
  color: #133700;
  transition: 0.3s;
}

.btn-entrar:hover {
  background-color: green;
  font-size: 1.75rem;
  padding: 9px 15px;
}

@media (max-width: 1050px) {
  #container-bg {
    display: none;
  }

  #container-login {
    width: 80%;
  }
}