<div class="m-3">
  <h1 class="mb-3 p-3">Novo Produto</h1>

  <div class="spinner-grow text-danger" role="status" *ngIf="estaCarregando">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div *ngIf="erroNoCarregamento">
    <h2>ERRO :(</h2>
    <button
      (click)="carregarProdutos()"
      type="button"
      class="btn btn-secondary btn-lg"
    >
      Tentar novamente
    </button>
  </div>

  <div *ngIf="!estaCarregando && !erroNoCarregamento" class="m-3">
    <form [formGroup]="productForm" class="container pl-4 pr-4 ml-4 mr-4">
      <div class="form-row">
        <!-- Nome-->
        <div class="form-group col-md-6">
          <label for="name">Nome do Produto<span>*</span></label>
          <input
            type="text"
            class="form-control"
            id="nome"
            placeholder="Nome do Produto"
            formControlName="name"
            [class.is-invalid]="exibeErro('name')"
          />
        </div>
        <!-- Valor-->
        <div class="form-group col-md-6">
          <label for="valor">Valor<span>*</span></label>
          <input
            type="number"
            class="form-control"
            id="price"
            placeholder="R$ 0.00"
            formControlName="price"
            [class.is-invalid]="exibeErro('price')"
          />
        </div>
      </div>
      <!-- Descrição -->
      <div class="form-group">
        <label for="description">Descrição<span>*</span></label>
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Descrição"
          formControlName="description"
          [class.is-invalid]="exibeErro('description')"
        />
      </div>
      <!-- Estoque -->
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="quantity">Quantidade em Estoque<span>*</span></label>
          <input
            type="number"
            class="form-control"
            id="quantity"
            placeholder="XXX"
            formControlName="quantity"
            [class.is-invalid]="exibeErro('quantity')"
          />
        </div>
      </div>
      <button class="btn btn-cadastrar mt-2" (click)="onSubmit()">
        {{ alterandoProduto() ? "Atualizar Produto" : "Cadastrar Produto" }}
      </button>
      <button class="btn btn-secondary mt-2 ml-3" (click)="voltar()">
        Voltar
      </button>
    </form>
  </div>
</div>
