<section class="d-flex flex-column">
  <div class="container pt-5 d-flex flex-column">
    <div class="text-center">
      <!--  ID  -->
      <form id="contactForm">
        <div class="mb-3 form-group">
          <label for="id">ID</label>
          <input
            class="form-control"
            id="id"
            type="number"
            placeholder="Digite o ID do produto"
            data-sb-validations="required"
            data-sb-can-submit="no"
            name="id"
          />
        </div>

        <!--  NOME  -->
        <div class="mb-3 form-group">
          <label for="nome">Nome do produto</label>
          <input
            class="form-control"
            id="nome"
            type="text"
            placeholder="Digite o nome do produto"
            data-sb-validations="required"
            data-sb-can-submit="no"
            name="nome"
          />
        </div>

        <!--DESCRIÇÃO-->
        <div class="mb-3 form-group">
          <label for="descricao">Descrição</label>
          <input
            class="form-control"
            id="descricao"
            type="text"
            placeholder="Digite uma descrição"
            data-sb-validations="required"
            data-sb-can-submit="no"
            name="descricao"
          />
        </div>

        <!--VALOR -->
        <div class="mb-3 form-group">
          <label for="valor">Valor</label>
          <input
            class="form-control"
            id="valor"
            type="number"
            placeholder="Digite o valor do produto"
            data-sb-validations="required"
            data-sb-can-submit="no"
            name="valor"
          />
        </div>

        <!--QTD ESTOQUE-->
        <div class="mb-3 form-group">
          <label for="qtd_estoque">Quantidade em Estoque</label>
          <input
            class="form-control"
            id="quantidade"
            type="number"
            placeholder="Quantidade de produtos em estoque"
            data-sb-validations="required"
            data-sb-can-submit="no"
            name="quantidade"
          />
        </div>

        <!-- Submit success message-->
        <div>
          <div>
            <div>Produto cadastro com sucesso!</div>
          </div>
        </div>

        <div id="submitErrorMessage">
          <div>[ERRO] Produto cadastrado incorretamente</div>
        </div>
        <!-- Submit Button-->
        <button id="submitButton" type="button">Cadastrar</button>
      </form>
    </div>
  </div>
</section>

<section>
  <div *ngIf="produtos.length == 0" class="alert alert-primary" role="alert">
    Não Há produtos cadastrados
  </div>
  <table *ngIf="produtos.length > 0" class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Estoque</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <th scope="row">{{ produto.id }}</th>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.descricao }}</td>
        <td>{{ produto.valor.toString() | currency : "BRL" }}</td>
        <td>{{ produto.qtd_estoque }}</td>
      </tr>
    </tbody>
  </table>
</section>
