@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

div {
  width: 100%;
  height: 100%;
  background: linear-gradient(#f14600, #ff7e49);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h1 {
  font-family: 'Rubik Dirt', cursive;
  font-size: 5rem;
}
