<div class="container text-center p-5">
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-danger" role="status" *ngIf="estaCarregando">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div *ngIf="erroNoCarregamento">
      <h2>Ocorreu um erro! :(</h2>
      <button
        (click)="carregarProduto()"
        type="button"
        class="btn btn-secondary btn-lg"
      >
        Tentar novamente
      </button>
    </div>
    <div *ngIf="!estaCarregando && !erroNoCarregamento">
      <p><b>ID:</b> {{ product.id }}</p>
      <p><b>Nome:</b> {{ product.name }}</p>
      <p><b>Telefone</b> {{ product.description }}</p>
      <p><b>E-mail</b> {{ product.price }}</p>
      <p><b>CPF:</b> {{ product.quantity }}</p>
      <button class="btn btn-secondary" (click)="voltar()">Voltar</button>
    </div>
  </div>
</div>