<div class="m-3">
  <h1 class="mb-3 p-3">Novo Cliente</h1>

  <div class="spinner-grow text-danger" role="status" *ngIf="estaCarregando">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div *ngIf="erroNoCarregamento">
    <h2>ERRO :(</h2>
    <button (click)="carregarClientes()" type="button" class="btn btn-secondary btn-lg">
      Tentar novamente
    </button>
  </div>

  <div *ngIf="!estaCarregando && !erroNoCarregamento" class="m-3">
    <form [formGroup]="clienteForm" class="container pl-4 pr-4 ml-4 mr-4">
      <!-- input ID -->
      <div class="form-group col-3 pl-0">
        <label for="id">ID Cliente<span>*</span></label>
        <input type="text" class="form-control" id="id" placeholder="ID Cliente" formControlName="id" [class.is-invalid]="exibeErro('id')">
      </div>
      <div class="form-row">
        <!-- Nome-->
        <div class="form-group col-md-6">
          <label for="name">Nome Completo<span>*</span></label>
          <input type="text" class="form-control" id="nome" placeholder="Nome Completo" formControlName="name" [class.is-invalid]="exibeErro('name')">
        </div>
        <!-- CPF-->
        <div class="form-group col-md-6">
          <label for="cpf">CPF<span>*</span></label>
          <input type="number" class="form-control" id="cpf" placeholder="XXX.XXX.XXX-XX" formControlName="cpf" [class.is-invalid]="exibeErro('cpf')">
        </div>
      </div>
      <!-- Email -->
      <div class="form-group">
        <label for="inputEmail4">Email<span>*</span></label>
        <input type="email" class="form-control" id="email" placeholder="E-mail" formControlName="email" [class.is-invalid]="exibeErro('email')">
      </div>
      <!-- Telefone -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="telefone">Telefone<span>*</span></label>
          <input type="number" class="form-control" id="telefone" placeholder="(XX) XXXXX-XXXX" formControlName="telefone" [class.is-invalid]="exibeErro('telefone')">
        </div>
        <!-- CEP -->
        <div class="form-group col-md-6">
          <label for="cep">CEP<span>*</span></label>
          <input class="form-control" id="cep" type="number" placeholder="XXXXX-XXX" formControlName="cep" [class.is-invalid]="exibeErro('cep')">
        </div>
      </div>
      <div class="form-row">
        <!-- Endereço -->
        <div class="form-group col-md-8">
          <label for="inputAddress">Endereço<span>*</span></label>
          <input class="form-control" id="logradouro" type="text" placeholder="Endereço" formControlName="logradouro" [class.is-invalid]="exibeErro('logradouro')">
        </div>
        <!-- Número -->
        <div class="form-group col-md-4">
          <label for="inputAddress">Número<span>*</span></label>
          <input class="form-control" id="numero" type="number" placeholder="Numero" formControlName="numero" [class.is-invalid]="exibeErro('numero')">
        </div>
      </div>
      <div class="form-row">
        <!-- Bairro -->
        <div class="form-group col-md-8">
          <label for="inputAddress2">Bairro<span>*</span></label>
          <input class="form-control" id="bairro" type="text" placeholder="Bairro" formControlName="bairro" [class.is-invalid]="exibeErro('bairro')">
        </div>
        <!-- Complemento -->
        <div class="form-group col-md-4">
          <label for="inputAddress2">Complemento</label>
          <input class="form-control" id="complemento" type="text" placeholder="Complemento " formControlName="complemento">
        </div>
      </div>
      <div class="form-row">
        <!-- Cidade -->
        <div class="form-group col-md-8">
          <label for="inputCity">Cidade<span>*</span></label>
          <input class="form-control" id="cidade" type="text" placeholder="Cidade" formControlName="cidade" [class.is-invalid]="exibeErro('cidade')">
        </div>
        <div class="form-group col-md-4">
          <!-- Estado -->
          <label for="inputEstado">Estado<span>*</span></label>
          <select class="form-control" id="estado" type="text" placeholder="Estado" formControlName="estado" [class.is-invalid]="exibeErro('estado')">
            <option selected>Escolher...</option>
            <option>Acre</option>
            <option>Alagoas/option>
            <option>Amapá</option>
            <option>Amazonas</option>
            <option>Bahia</option>
            <option>Ceará</option>
            <option>Espírito Santo</option>
            <option>Goiás</option>
            <option>Maranhão</option>
            <option>Mato Grosso</option>
            <option>Mato Grosso do Sul</option>
            <option>Minas Gerais</option>
            <option>Pará</option>
            <option>Paraíba</option>
            <option>Paraná</option>
            <option>Pernambuco</option>
            <option>Piauí</option>
            <option>Rio de Janeiro</option>
            <option>Rio Grande do Norte</option>
            <option>Rio Grande do Sul</option>
            <option>Rondônia</option>
            <option>Roraima</option>
            <option>Santa Catarina</option>
            <option>São Paulo</option>
            <option>Sergipe</option>
            <option>Tocantins</option>
          </select>
        </div>
      </div>
      <button class="btn btn-cadastrar mt-2" (click)="onSubmit()">
        {{ estaAlterando() ? "Atualizar Cliente" : "Cadastrar Cliente" }}</button>
      <button class="btn btn-secondary mt-2 ml-3" (click)="voltar()">Voltar</button>
    </form>
  </div>
</div>